<launch>
    <!--UR SERVICES-->
    <node name="ur_service_node" pkg="ur_manager" type="ur_service" output="screen"/>
    <!--SCRIPT SERVICES-->
    <node name="ur_script_service_node" pkg="ur_manager" type="ur_script_service" output="screen"/>

    <!--PICKER NODE-->
    <node name="picker_node" pkg="ur_manager" type="pick_callback" output="screen"/>
</launch>
